*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E4F9F5;
}
.navbar{
    background-color:#11999E; 
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.navbar li{
    display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.image{
    padding: 20px;
    margin: 20px;
    text-align: justify;
    width:50%;
}
p{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
.story{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.ohi{
    text-align: center;
    width:50%;
    padding:10px;
    margin: 10px;
    

}
img{
    border-radius: 50%;

}
.hire{
    text-decoration: none;
    background-image:linear-gradient(#11999E ,#40514E);
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 700;

}
.nextpart{
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
