*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E4F9F5;
}
.navbar{
    background-color:#11999E; 
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.navbar li{
    display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.container{
    display: flex;
    
}
.image{
    padding: 20px;
    margin: 20px;
    text-align: justify;
    list-style-type: none;
    width:70%;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
.story{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.ohi{
    text-align: center;
    width:30%;
    padding:50px;
    margin: 20px;
    

}
img{
    border-radius: 50%;
}

