*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E4F9F5;
}
a{
    text-decoration: none;
    color:white;
    padding: 15px;
}
.navbar{
    background-color:#11999E; 
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.navbar li{
    display: inline-block;
  font-size: 20px;
  padding: 20px;

}
.image{
    padding: 20px;
    margin: 20px;
    text-align: justify;
    width:50%;
}
p{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
.story{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.ohi{
    text-align: center;
    width:50%;
    padding:10px;
    margin: 10px;
    

}
img{
    border-radius: 50%;

}
.hire{
    text-decoration: none;
    background-image:linear-gradient(#11999E ,#40514E);
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 700;

}
.nextpart{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.experince{
    width:40%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    
}
#right{
    border-left: 5px solid;
    border-image:linear-gradient(#11999E ,#40514E);
    border-image-slice: 1;
}
#left{
    border-left: 5px solid;
    border-image:linear-gradient(#11999E ,#40514E);
    border-image-slice: 1;

}
footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.extra{
    margin: 20px;
    padding: 20px;
}
a:hover {
    background-color: #40514E;
    font-weight:20px;
    border-radius: 5px;
    
    
}
